.ContactRow {
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #555;
    /*background-color: #f1edee;*/
}

.moreAboutMe {
    background-color: #f1edee;
}

.ContactRow h4 {
    color: #d83e77;
}

.ContactRow i {
    font-size: 23px;
    margin: 20px 4px 0 4px;
    color: #555;
}

.ContactRow i:hover {
    cursor: pointer;
    color: #d83e77;
    /*box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.20);*/
}

.ContactRow .myPic img {
    /*display: block;*/
    width: 250px;
    margin: auto;
    border-radius: 50%;
}

.ContactRow .myPic {
    margin-top: 50px;
    margin-bottom: 60px;
}

.ContactRow .myIntro {
    font-size: 14px;
    /*margin-top: 50px;*/
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #555;
}

.ContactRow .ending-hr {
    width: 250px;
    border-top: 2.5px solid #d83e77;
    margin-bottom: 30px;
}

.ContactRow * {
    font-weight: 300;
}

.ContactRow .special {
    font-weight: 700;
    color: #d83e77;
}

@media only screen and (max-width: 1100px) {
    .whiteLine,
    .specialLine {
        padding: 35px 100px 40px 100px;
    }
}


@media only screen and (max-width: 992px) {
   
    .whiteLine,
    .specialLine {
        padding: 40px 60px 30px 60px;
    }
    
}


@media only screen and (max-width: 815px) {
    
    .whiteLine,
    .specialLine {
        padding: 30px 30px 30px 30px;
    }
    .details {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 800px) {
    #deepintent-carousel .carousel-inner > .item > img {
        width: 100%;
        height: auto;
    }
    #deepintent-carousel .carousel-inner {
        height: auto;
    }
    #calligraphy-carousel .carousel-inner,
    #gridspark-carousel .carousel-inner,
    #ecorcoran-cms-carousel .carousel-inner {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    
    .whiteLine,
    .specialLine {
        padding: 30px 25px 30px 25px;
    }
   
    .whiteLine .small-img {
        width: 90%;
    }
   
}

@media only screen and (max-width: 550px) {
    .jumbotronRow {
        padding-left: 40px;
        padding-right: 40px;
    }
    .jumbotronRow h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 480px) {
   
    .details {
        margin-right: 0;
    }
    .whiteLine {
        padding: 30px 25px 10px 25px;
    }
    
    #museum-carousel .carousel-inner {
        height: 610px;
    }
}

